.attach
  @media screen
    border-radius 0
    &__no-file
      font b-nav-font-sm
      font-size 1.5rem
      line-height 1.5rem
    margin 1rem 0
  &.attach_theme_islands
    overflow hidden
    text-overflow ellipsis
    width 100%
