elemname = '.b-phone__item'
{elemname}
  @media screen
    +mediamax(xs)
      font b-nav-font-light
      font-size 1.5rem
      fon-weight normal
    +mediamin(xs)
      font b-nav-font-light
      font-size 1.6rem
      font-weight 400
    +mediamin(lg)
      font-size 1.9rem
      font-weight 300
