.b-promo-gallery__item
  position relative
  text-align center
  width 100%
  font b-adv-font-base
  overflow hidden
  transition opacity .3s ease
  a
    text-decoration none
  &:hover .b-promo-gallery__img
    // bottom 4.9rem
    opacity .4
    position relative
    transition opacity .3s ease
  &:hover .b-promo-gallery__desc-group
    color custom-white-base
    bottom 0
    opacity 1
    background custom-orange
    transition opacity .3s ease
  @media screen
    padding .5rem
    +mediamin(xxs)
      width 50%
    +mediamin(sm)
      width 30%
      max-width 40.5rem
