.b-footer__i_mail
  position relative
  padding 0 1rem 0 0
  font-size 1.4rem
  text-decoration none
  display inline-block
  @media screen
    &:hover
      text-decoration underline
    & .icon
      margin 0 1rem 0 0
      +mediamax(xs)
        padding 0 1rem .5rem 0
        margin 0 0 1rem
      +mediamax(xxs)
        padding 0 0 .5rem 0

    +mediamax(xxs)
      font-size 1.3rem