elemname = '.b-phone__link'
{elemname}
  @media screen
    text-decoration none
    font b-nav-font-light
    font-size 1.5rem
    font-weight 400
    &:hover
      text-decoration underline
    +mediamin(sm)
      +mediamax(md)
        font-size 1.5rem
        font-weight normal
    +mediamin(lg)
      font-size 1.9rem
      font-weight 300
