.b-header
  position absolute
  top 0
  box-sizing border-box
  margin 0
  width 100%
  background #fff
  height 5rem
  transition all .2s ease
  @media screen
    +mediamin(sm)
      height 10rem
/*    +mediamin(xlg)
      height 13.5rem*/