.b-slider__i-control
  display flex
  align-items center
  justify-content center
  height 10rem
  width 10rem
  opacity .75
  z-index 1000
  transition all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
  & svg
    transition @transition
  &:hover
    cursor pointer
    transition @transition
  &:hover svg
    opacity 1
    transition @transition
    transform scale(1.5)
  &:active .b-slider__i-control_arrow
    transition @transition
    stroke rgba(225,69,9,0.8)
    fill #fff
  @media screen
    +mediamax(xs)
      display none
  // background url(i-controls.svg)
