.b-slide__footer_desc
  font b-slider-raleway-base
  display inline-block
  padding 1.5rem 1.61rem 0 0
  margin 0
  font-size 2.36rem
  text-align left
  @media screen
    +mediamin(lg)
      font-size 3rem
      padding .5rem 1.61rem 0 0