.b-adv-list__i_icon
  display inline-block
  background url(../../../../main.blocks/frontend/img/icons-2.svg)
  background-size 35.2rem 5rem
  height 5rem
  width @height
  margin 0 1rem 0 0
  flex-shrink 0