.b-sidebar_position_fixed
  @media screen
    +mediamin(sm)
      position fixed
      width 30rem
      margin 10rem 0 0 0
      box-shadow: 0 .1rem .6rem rgba(68,68,68,.1)
      float left
      top 0
      transition all 0.2s ease-in
      