.b-footer__i-group_icon
  align-self flex-start
  margin 0 2rem
  flex-grow 0
  @media screen
    +mediamin(xs)
      +mediamax(sm)
        margin 0 .5rem 0 0

    +mediamax(xs)
      width 2rem
    +mediamax(xxs)
      margin 0 1rem 0 0