.b-logo__link
  width 100%
  height 100%
  color custom-base
  display inline-block
  text-decoration none
  @media screen
    +mediamax(xs)
      width 100%
      height 100%
      align-self stretch
    +mediamax(sm)
      padding 0
