.button_theme_islands
  border-radius 0
  background custom-orange
  color custom-white-base
  font b-nav-font-sm
  font-weight 300
  &.button_pressed
    &:before
      background custom-orange-dark
      
  &:before
    border-radius 0
    background custom-orange
    color custom-white-base
  &.button_checked
    color custom-white-base
    &:before
      background custom-orange
      color custom-white-base
    &.button_pressed
      &:before
        background custom-orange-dark
  &.button_focused,
  &.button_focused_hard
    box-shadow 0 0 0.4rem 0.1rem #ec8660
  &.button_view_plain
    &.button_focused,
    &.button_focused_hard
      box-shadow none