.b-footer
  box-sizing border-box
  position absolute
  width 100%
  display flex
  flex-flow row wrap
  justify-content center
  bottom 0
  height 25rem
  box-shadow 0 -0.1rem 0.6rem 0 rgba(68,68,68,0.1)
