.spin_theme_islands
{
    position: absolute;

    display: inline-block;
    visibility: hidden;

    box-sizing: border-box;
    margin: 0.5rem 0 0 1rem;
    borderWidth = 2px;
    border: borderWidth solid transparent;
    border-radius: 50%;

    &:after
    {
        content: '\00A0';
    }

    &.spin_visible
    {
        position: relative;

        visibility: visible;

        animation: spin_theme_islands 1s infinite linear;

        background: 0 0 no-repeat url(spin_theme_islands.gif);

        // `1deg` is needed to prevent FF bug after minification (`0deg` => `0`)
        background: linear-gradient(1deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));

        backface-visibility: hidden; // Accelerate animation
    }

    sizeList = (16 24 28 32 38);
    bgShift = -(borderWidth);

    for sizeVal, i in xs s m l xl {
        &.spin_size_{sizeVal}
        {
            line-height: sizeList[i]px;

            width: sizeList[i]px;
            height: sizeList[i]px;

            background-position: -(borderWidth) bgShift;
        }

        bgShift -= sizeList[i] + 1;
    }
}

@keyframes spin_theme_islands
{
    from
    {
        border-top-color: #fff;
        border-left-color: #fff;
        transform: rotate(0);
    }
    to
    {
        border-top-color: #fff;
        border-left-color: #fff;
        transform: rotate(360deg);
    }
}
