.b-product__price
  @media screen
    font b-nav-font-sm
    display flex
    font-size 2rem
    padding 1.5rem 0
    flex-flow row wrap
    border-bottom solid .1rem rgba(69,69,69,.1)
    justify-content space-between
    +mediamax(xs)
      flex-flow column wrap
      border-bottom solid .1rem custom-orange
