.b-category__description
  @media screen
    font b-nav-font-sm
    font-size 1.7rem
    font-weight 300
    text-align justify
    padding 0 17rem
    +mediamax(lg)
      padding 0 7rem
    +mediamax(xs)
      padding 0 1rem