.b-slide__p-item
  @media screen
    display flex
    align-items center
    margin 1rem 0
    +mediamin(xs)
      float left
      +mediamax(md)
        width 100%
    +mediamin(sm)
      width 50%
      margin 2rem 0