.b-menu_type_vert
  display flex
  background custom-white-base
  flex-direction column
  align-items flex-start
  z-index 500
  & .b-menu__content_status_open
    display flex
    background custom-white-base
    flex-direction column
    align-items flex-start
    align-self flex-start
    z-index 500
    width 100%
  .menu-item
    text-align left
    padding 0 2rem
    &:hover
      border-bottom solid .3rem transparent