.b-footer__i
  @media screen
    width auto
    display flex
    align-items flex-start
    justify-content flex-start
    flex-direction column
    flex-grow 1
  p
    margin 0 0 1rem
    @media screen
      +mediamin(xs)
        +mediamax(sm)
          font-size 1.3rem
      +mediamax(xxs)
        font-size 1.3rem