.b-slide__i-img-thumb
  @media screen
    display block
    opacity 1
    top initial
    left initial
    position relative
    width 2rem
    height @width
    box-sizing border-box
    background #ccc
    cursor pointer
    transform-origin initial
    transform none
    transition transform .2s ease
    &:hover
      transform scale(1.05)
