blockname = '.b-phone'
{blockname}
  height 100%
  min-height 5rem
  width 100%
  display flex
  flex-direction row
  justify-content space-between
  align-self stretch
  padding 0 1rem 0 0
  transition: all .3s ease
  @media screen
    +mediamax(xs)
      width 100%
    +mediamin(sm)
      flex-direction row
      align-items center
      padding 0 0 0 .5rem
