.b-logo__text_light
  font 300 2rem/1 "Clear Sans","Open Sans",helvetica,sans-serif
  font-size 2rem
  @media screen
    +mediamax(xs)
      font 100 2rem/1 "Clear Sans","Open Sans",helvetica,sans-serif
      font-size 2rem
    +mediamin(lg)
      font-size 2.36rem