elemname = '.b-phone__i-group'
{elemname}
  padding 0 0.5rem 0 0
  text-align right
  display flex
  @media screen
      justify-content space-around
      height 6.5rem
    +mediamax(xs)
      flex-grow 5
      flex-shrink 0
      align-self center
    +mediamax(sm)
      height 5rem
      padding 0 0 0 1rem
      text-align right
      display flex
      align-items flex-start
      flex-direction column
      width 100%
    +mediamin(sm)
      flex-direction column