.b-slide__content
  position absolute
  width 100%
  bottom 0
  left 0
  height 15rem
  float left
  align-self center
  padding 0 0 0 1rem
  display flex
  flex-direction column
  justify-content space-around
  @media screen
    +mediamax(xs)
      width 100%