.b-icon_arrow
  @media screen
    background-position 0 0
    // +mediamin(xs)
    //   background-position 0 0
    +mediamin(xxs)
      background-position 0 0
    +mediamin(md)
      background-position 0 0
