.b-cta-form__input-group_right
  @media screen
    // +mediamax(xxs)
    //   width 100%
    // +mediamin(xxs)
    +mediamin(xxs)
      // width 100%
      display flex
      flex-direction row
      justify-content center