.input__control
  box-sizing border-box
  display inline-block
  height 100%
  width 100%
  padding .5rem
  margin .5rem 1.5rem
  border none
  font b-nav-font-light
  font-weight normal
  font-size 1.7rem
  &:focus
    outline none
  @media screen
    +mediamin(md)
      padding 1rem 1.5rem
    +mediamin(lg)
      width calc(100% - 3rem)
      padding 1rem 1.5rem
      margin .5rem 1.5rem