.b-product__price-line
    width 100%
    flex-direction column
    
    @media screen
        display flex
        +mediamin(xs)
            display flex
            flex-direction row
            align-items center
            max-width 65%
            align-self center
            justify-content flex-end
