.b-cta-form
  width 100%
  margin 0 auto
  max-width 50rem
  box-sizing border-box
  background custom-white-base
  box-shadow 0 0.1rem 0.6rem rgba(68,68,68,0.1)
  @media screen
    +mediamin(md)
      display flex
      flex-direction column
      justify-content space-between
    +mediamin(xs)
      padding 3rem