.b-slider__i-img-thumbs
  transition all .2s ease
  position absolute
  bottom 0
  width calc(100% - 51rem)
  left 25.5rem
  height 5rem
  display flex
  justify-content center
  align-items center
  z-index 1000
  @media screen
    +mediamin(xxs)
      +mediamax(xs)
        overflow hidden
        margin 0 auto