.b-nav

  box-sizing border-box
  display flex
  flex-direction row
  flex-flow row wrap
  margin 0 auto
  max-width 170.5rem
  justify-content space-between
  height 100%
  
  @media screen
    +mediamin(xxs)
      +mediamax(sm)
        width 100%