.b-icon
  background url(../frontend/img/sprite-icons.svg)
  display inline-block
  width 3.6rem
  height @width
  background-size 14.4rem 3.6rem
  background-position 0 0
  @media screen

    +mediamin(md)
      width 5.6rem
      height @width
      background-size 22.4rem 5.6rem
      
      