.b-cta-form__button_submit
  width auto
  box-sizing border-box
  border none
  color custom-white-base
  // padding 1rem
  font b-nav-font-light
  font-size 2rem
  outline none
  // height 3rem
  &:hover
    cursor pointer
  &:active
    cursor pointer
    box-shadow inset 0 .3rem .5rem rgba(0,0,0,.2)
    background custom-orange-dark
    color custom-white-base