blockname = '.textarea'
{blockname}
  box-sizing border-box
  width 100%
  border solid .1rem #ec8660
  padding 1rem
  margin 1rem 0
  &:focus
    outline none
  font b-nav-font-light
  font-size 1.7rem
  font-weight normal
  @media screen
    +mediamin(lg)
      // width calc(100% - 3rem)
      padding 1rem 1.5rem
      // margin 1.5rem