.b-product__img
  @media screen
    font b-nav-font-sm
    align-self center
    & img
      max-width 100%
    +mediamin(md)
      +mediamax(lg)
        width 35%
        & img
          width 100%
    +mediamin(lg)
      width 50%
      & img
        width 100%