.b-logo__text
  font b-nav-font-light
  font-size 2rem
  font-weight bold
  @media screen
    +mediamax(xs)
      font b-nav-font-light
      font-size 2rem
      font-weight bold
    +mediamin(lg)
      font-size 2.36rem
      