elemname = '.b-product__price_type_new'
{elemname}
  @media screen
    font b-nav-font-sm
    .b-product__price-desc,
    .b-product__price-value,
    .b-product__price-badge
      font-weight 700
      color #ec8660