.b-adv
  background custom-white-base
  width 100%
  padding 0
  height auto
  background custom-white-base
  max-width 170.5rem
  margin 2.5rem auto 0
  display flex
  @media screen
    flex-direction column
    +mediamin(sm)
      flex-direction row
    +mediamin(md)
      margin 5rem auto 1.5rem
    +mediamax(sm)
      margin 0 auto
