.b-submenu__controls
  // position absolute
  position relative
  cursor pointer
  // border-bottom solid .3rem transparent

  &.button_theme_islands
    line-height inherit
  &.button_theme_islands >.button__text
    color custom-base
    margin 0
  &.button_menu-switcher.button_view_plain.button_checked,
  &.button_menu-switcher.button_view_plain.button_focused,
  &.button_menu-switcher.button_view_plain.button_pressed
    background: custom-orange-lighter;
    outline none
    box-shadow none
    width 100%
    text-align left
    @media screen
      +mediamin(sm)
        border-bottom solid .3rem custom-orange-lighter
  &.button_menu-switcher.button_view_plain.button_focused:hover
    border transparent
  &.button_menu-switcher > .icon
    vertical-align middle
    transition transform .3s ease
  &.button_menu-switcher.button_checked > .icon
    transform rotate(-180deg)
  &.button_theme_islands.button_size_xl
    @media screen
      +mediamin(sm)
        font-size 1.6rem
        padding 1rem 0.5rem
        width 100%
        text-align left
      +mediamin(md)
        font-size 1.8rem
      +mediamin(lg)
        font-size 2rem
        padding 1rem 1.5rem
      +mediamin(xlg)
        padding 1rem 2.36rem      
  @media screen
    +mediamax(sm)
      position relative
      padding 1.5rem
    +mediamin(sm)
      font-size 1.6rem
      padding 1rem 0.5rem
    +mediamin(md)
      font-size 1.8rem
    +mediamin(lg)
      font-size 2rem
      padding 1rem 1.5rem
    +mediamin(xlg)
      padding 1rem 2.36rem