.b-logo__img_hidden_xs
  fill custom-orange
  transition: all .3s ease-out
  @media screen
    +mediamax(xs)
      fill transparent
      transition: all .3s ease-out
    +mediamin(xs)
      height 5rem
      width @height
    +mediamin(md)
      height 7.5rem
      width 9.5rem
/*    +mediamin(xlg)
      height 9.5rem
      width @height*/