.b-footer__i-group
  width auto
  margin 1rem auto
  text-align center
  display flex
  flex-flow row wrap
  @media screen
    +mediamax(1030)
      &:nth-child(2)
        order 3
    +mediamax(xs)
      width 100%
      margin 0 2rem
