.b-adv-list__i_desc
  font b-adv-open-sans-base
  line-height 1.5
  width 100%
  padding 1rem 3rem 0 0
  text-align left
  @media screen
    +mediamin(md)
      padding 1rem 3rem 0 3rem
    +mediamin(lg)
      padding 1rem 3rem 0 6rem