.b-menu__controls
  cursor pointer
  display none
  &.button_view_plain
    background custom-orange
    & .icon,
    & .icon > svg
      width 5rem
      height 5rem
      margin 0
      padding 0
  &.button_view_plain.button_checked,
  &.button_view_plain.button_pressed,
  &.button_view_plain.button_checked.button_pressed
    background custom-orange-dark