.b-slider__i-img-thumb
  @media screen
    padding 1%
    float left
    box-sizing border-box
    cursor pointer
    transition transform .2s ease
    &:hover
      transform scale(1.05)
    +mediamin(xxs)
      +mediamax(xs)
        display block
        min-width 10rem
        max-width 19rem
        width 25%
        height auto
        transition transform .2s ease
    +mediamax(xxs)
      width 50%
    img
      width 100%