.b-slide_active_right
  @media screen
    display flex
    height 100%
    opacity 1
    z-index 501
    animation slideRight .618s ease-in-out backwards
    &.b-slide__i-img-thumb_slide-switcher
    &.b-slide__i-img-thumb_slide-switcher_active
      animation none
  @keyframes slideRight
    0%
      transform translateX(-100%)
      opacity 1

    100%
      transform translateX(0)
      opacity 1
  +mediamax(sm)
    position relative
    top 0
    left 0