.b-slide_active
  @media screen
    display flex
    height 100%
    opacity 1
    z-index 500
    animation slideLeft .618s ease-in-out forwards
    &.b-slide__i-img-thumb_slide-switcher
    &.b-slide__i-img-thumb_slide-switcher_active
      animation none
  @keyframes slideLeft
    0%
      transform translateX(100%)
      opacity 1
    100%
      transform translateX(0)
      opacity 1
  +mediamax(sm)
    position relative
    top 0
    left 0
  // & .b-slide__i-img-thumb_slide-switcher
