modname = '.b-logo__i_text'
{modname}
  // height 100%
  width auto
  transition all .3s ease
  @media screen
    +mediamax(xs)
      flex-grow 5
      align-self center
    +mediamax(sm)
      padding 0 0 0 1rem
      width 100%