.b-product__price-value
    font b-nav-font-sm
    line-height 2rem

    @media screen
        display flex
        flex-flow row wrap
        +mediamax(xxlg)
            flex-flow column wrap
        +mediamax(sm)
            flex-flow column wrap
            justify-content space-between
        +mediamax(xs)
            width 100%
            flex-flow row wrap
            justify-content center
