elemname = '.b-main-panel__i-right'
{elemname}
  
  @media screen
    width 100%
    +mediamax(md)
      margin-top 2rem
    +mediamin(md)
      width 30%
      max-width 46rem
      display flex
      align-items flex-start
    