.b-sidebar
  @media screen
    +mediamin(sm)
      position relative
      width 30rem
      margin 8rem 0 0 0
      box-shadow: 0 .1rem .6rem rgba(68,68,68,.1)
      float left
      transition all .2s ease-out
      z-index 1