.b-product__price-desc
  @media screen
    font b-nav-font-sm
    padding 0 1rem 0 0
    /*width 30%*/
    max-width 35%

    +mediamax(xs)
      padding 1rem 0
      width 100%
      max-width 100%
      text-align center
