.b-menu
  padding 0
  margin 0
  display flex
  outline 0
  border 0 
  width 100%
  height 100%
  background custom-white-base
  @media screen
    +mediamin(xs)
      position relative
    +mediamin(md)
      justify-content center