.b-submenu__icon
  display inline-block
  padding 0 .5rem
  width 3rem
  height 2rem
  font b-nav-font-light
  font-size 2.8rem
  line-height .7
  @media screen
    +mediamin(xs)
      color custom-orange