.b-submenu_type_vert
  @media screen
    +mediamin(sm)
      font-size 1.6rem
      padding 0
      width 100%
      text-align left
      font-weight 400
      // &.b-submenu__controls.button_menu-switcher > .icon
      .visible_sm
        display inline-block
        visibility visible
        
      .button_theme_islands
        line-height inherit
      .button_theme_islands >.button__text
        color custom-base
        margin 0
      
      .button_menu-switcher.button_view_plain.button_checked,
      .button_menu-switcher.button_view_plain.button_focused,
      .button_menu-switcher.button_view_plain.button_pressed
        border-bottom solid .3rem transparent
        background custom-white-base
        width 100%
        max-width 16rem
        text-align left

      .button_menu-switcher.button_view_plain.button_focused:hover
        border-bottom solid .3rem transparent
      .button_menu-switcher > .icon
        vertical-align middle
        transition transform .3s ease
      .button_menu-switcher.button_checked > .icon
        transform rotate(-180deg)
      & .button_theme_islands.button_size_xl
        font-weight 400
        border-bottom solid .3rem transparent
        width 100%
        max-width 16rem
        display flex
        justify-content space-between
    +mediamin(md)
      font-size 1.8rem
    +mediamin(lg)
      font-size 2rem
      padding 1rem 1.5rem
    +mediamin(xlg)
      padding 1rem 2.36rem      
  @media screen
    +mediamax(sm)
      position relative
      padding 1.5rem
    +mediamin(sm)
      font-size 1.6rem
      padding 0
    +mediamin(md)
      font-size 1.8rem
    +mediamin(lg)
      font-size 2rem
      padding 0
  .b-submenu__controls
    width 100%
  .b-submenu__content_status_open
    position relative
    box-shadow none
    margin-left 3.5rem
    outline none
  .b-submenu__item
    border-bottom solid .3rem transparent
    padding 1rem
  .b-submenu__item_active
    .b-submenu__link
      color custom-orange