@font-face 
  font-family 'Raleway'
  src local('Raleway Thin'), local('Raleway-Thin'), url('../../main.blocks/frontend/fonts/raleway/ralewaythin.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/raleway/ralewaythin.woff') format('woff'), url('../../main.blocks/frontend/fonts/raleway/ralewaythin.ttf') format('truetype')
  font-weight 100
  font-style normal

@font-face 
  font-family 'Raleway'
  src local('Raleway Thin Italic'), local('Raleway-ThinItalic'), url('../../main.blocks/frontend/fonts/raleway/ralewaythinitalic.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/raleway/ralewaythinitalic.woff') format('woff'), url('../../main.blocks/frontend/fonts/raleway/ralewaythinitalic.ttf') format('truetype')
  font-weight 100
  font-style italic

@font-face 
  font-family 'Raleway'
  src local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url('../../main.blocks/frontend/fonts/raleway/ralewayextralight.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/raleway/ralewayextralight.woff') format('woff'), url('../../main.blocks/frontend/fonts/raleway/ralewayextralight.ttf') format('truetype')
  font-weight 200
  font-style normal

@font-face 
  font-family 'Raleway'
  src local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'), url('../../main.blocks/frontend/fonts/raleway/ralewayextralightitalic.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/raleway/ralewayextralightitalic.woff') format('woff'), url('../../main.blocks/frontend/fonts/raleway/ralewayextralightitalic.ttf') format('truetype')
  font-weight 200
  font-style italic
@font-face 
  font-family 'Raleway'
  src local('Raleway Light'), local('Raleway-Light'), url('../../main.blocks/frontend/fonts/raleway/ralewaylight.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/raleway/ralewaylight.woff') format('woff'), url('../../main.blocks/frontend/fonts/raleway/ralewaylight.ttf') format('truetype')
  font-weight 300
  font-style normal

@font-face 
  font-family 'Raleway'
  src local('Raleway Light Italic'), local('Raleway-LightItalic'), url('../../main.blocks/frontend/fonts/raleway/ralewaylightitalic.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/raleway/ralewaylightitalic.woff') format('woff'), url('../../main.blocks/frontend/fonts/raleway/ralewaylightitalic.ttf') format('truetype')
  font-weight 300
  font-style italic

@font-face 
  font-family 'Raleway'
  src local('Raleway Regular'), local('Raleway-Regular'), url('../../main.blocks/frontend/fonts/raleway/ralewayregular.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/raleway/ralewayregular.woff') format('woff'), url('../../main.blocks/frontend/fonts/raleway/ralewayregular.ttf') format('truetype')
  font-weight 400
  font-style normal

@font-face 
  font-family 'Raleway'
  src local('Raleway Italic'), local('Raleway-Italic'), url('../../main.blocks/frontend/fonts/raleway/ralewayitalic.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/raleway/ralewayitalic.woff') format('woff'), url('../../main.blocks/frontend/fonts/raleway/ralewayitalic.ttf') format('truetype')
  font-weight 400
  font-style italic

@font-face 
  font-family 'Raleway'
  src local('Raleway Medium'), local('Raleway-Medium'), url('../../main.blocks/frontend/fonts/raleway/ralewaymedium.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/raleway/ralewaymedium.woff') format('woff'), url('../../main.blocks/frontend/fonts/raleway/ralewaymedium.ttf') format('truetype')
  font-weight 500
  font-style normal

@font-face 
  font-family 'Raleway'
  src local('Raleway Medium Italic'), local('Raleway-MediumItalic'), url('../../main.blocks/frontend/fonts/raleway/ralewaymediumitalic.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/raleway/ralewaymediumitalic.woff') format('woff'), url('../../main.blocks/frontend/fonts/raleway/ralewaymediumitalic.ttf') format('truetype')
  font-weight 500
  font-style italic

@font-face 
  font-family 'Raleway'
  src local('Raleway SemiBold'), local('Raleway-SemiBold'), url('../../main.blocks/frontend/fonts/raleway/ralewaysemibold.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/raleway/ralewaysemibold.woff') format('woff'), url('../../main.blocks/frontend/fonts/raleway/ralewaysemibold.ttf') format('truetype')
  font-weight 600
  font-style normal

@font-face 
  font-family 'Raleway'
  src local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'), url('../../main.blocks/frontend/fonts/raleway/ralewaysemibolditalic.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/raleway/ralewaysemibolditalic.woff') format('woff'), url('../../main.blocks/frontend/fonts/raleway/ralewaysemibolditalic.ttf') format('truetype')
  font-weight 600
  font-style italic

@font-face 
  font-family 'Raleway'
  src local('Raleway Bold'), local('Raleway-Bold'), url('../../main.blocks/frontend/fonts/raleway/ralewaybold.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/raleway/ralewaybold.woff') format('woff'), url('../../main.blocks/frontend/fonts/raleway/ralewaybold.ttf') format('truetype')
  font-weight 700
  font-style normal

@font-face 
  font-family 'Raleway'
  src local('Raleway Bold Italic'), local('Raleway-BoldItalic'), url('../../main.blocks/frontend/fonts/raleway/ralewaybolditalic.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/raleway/ralewaybolditalic.woff') format('woff'), url('../../main.blocks/frontend/fonts/raleway/ralewaybolditalic.ttf') format('truetype')
  font-weight 700
  font-style italic

@font-face 
  font-family 'Raleway'
  src local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url('../../main.blocks/frontend/fonts/raleway/ralewayextrabold.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/raleway/ralewayextrabold.woff') format('woff'), url('../../main.blocks/frontend/fonts/raleway/ralewayextrabold.ttf') format('truetype')
  font-weight 800
  font-style normal

@font-face 
  font-family 'Raleway'
  src local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'), url('../../main.blocks/frontend/fonts/raleway/ralewayextrabolditalic.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/raleway/ralewayextrabolditalic.woff') format('woff'), url('../../main.blocks/frontend/fonts/raleway/ralewayextrabolditalic.ttf') format('truetype')
  font-weight 800
  font-style italic

@font-face 
  font-family 'Raleway'
  src local('Raleway Black'), local('Raleway-Black'), url('../../main.blocks/frontend/fonts/raleway/ralewayblack.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/raleway/ralewayblack.woff') format('woff'), url('../../main.blocks/frontend/fonts/raleway/ralewayblack.ttf') format('truetype')
  font-weight 900
  font-style normal

@font-face 
  font-family 'Raleway'
  src local('Raleway Black Italic'), local('Raleway-BlackItalic'), url('../../main.blocks/frontend/fonts/raleway/ralewayblackitalic.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/raleway/ralewayblackitalic.woff') format('woff'), url('../../main.blocks/frontend/fonts/raleway/ralewayblackitalic.ttf') format('truetype')
  font-weight 900
  font-style italic


@font-face
  font-family 'Clear Sans'
  src local('Clear Sans Thin'),
    local('ClearSans-Thin'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsansthin.woff2') format('woff2'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsansthin.woff') format('woff'), url('../../main.blocks/frontend/fonts/clear-sans/clearsansthin.ttf') format('truetype')
  font-weight 200
  font-style normal
@font-face
  font-family 'Clear Sans'
  src local('Clear Sans Light'),
    local('ClearSans-Light'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsanslight.woff2') format('woff2'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsanslight.woff') format('woff'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsanslight.ttf') format('truetype')
  font-weight 300
  font-style normal
@font-face
  font-family 'Clear Sans'
  src local('Clear Sans'),
    local('ClearSans'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsans.woff2') format('woff2'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsans.woff') format('woff'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsans.ttf') format('truetype')
  font-weight 400
  font-style normal
@font-face
  font-family 'Clear Sans'
  src local('Clear Sans Italic'),
    local('ClearSans-Italic'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsansitalic.woff2') format('woff2'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsansitalic.woff') format('woff'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsansitalic.ttf') format('truetype')
  font-weight 400
  font-style italic
  font-family 'Clear Sans'
  src local('Clear Sans Medium'), local('ClearSans-Medium'), url('../../main.blocks/frontend/fonts/clear-sans/clearsansmedium.woff2') format('woff2'), url('../../main.blocks/frontend/fonts/clear-sans/clearsansmedium.woff') format('woff'), url('../../main.blocks/frontend/fonts/clear-sans/clearsansmedium.ttf') format('truetype')
  font-weight 500
  font-style normal
@font-face
  font-family 'Clear Sans'
  src local('Clear Sans Medium Italic'),
    local('ClearSans-MediumItalic'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsansmediumitalic.woff2') format('woff2'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsansmediumitalic.woff') format('woff'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsansmediumitalic.ttf') format('truetype')
  font-weight 500
  font-style italic
@font-face
  font-family 'Clear Sans'
  src local('Clear Sans Bold'),
    local('ClearSans-Bold'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsansbold.woff2') format('woff2'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsansbold.woff') format('woff'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsansbold.ttf') format('truetype')
  font-weight 700
  font-style normal
@font-face
  font-family 'Clear Sans'
  src local('Clear Sans Bold Italic'),
    local('ClearSans-BoldItalic'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsansbolditalic.woff2') format('woff2'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsansbolditalic.woff') format('woff'),
    url('../../main.blocks/frontend/fonts/clear-sans/clearsansbolditalic.ttf') format('truetype')
  font-weight 700
  font-style italic
@font-face
  font-family 'Open Sans'
  src local('Open Sans Light'),
    local('OpenSans-Light'),
    url('../../main.blocks/frontend/fonts/open-sans/opensanslight.woff2') format('woff2'),
    url('../../main.blocks/frontend/fonts/open-sans/opensanslight.woff') format('woff'),
    url('../../main.blocks/frontend/fonts/open-sans/opensanslight.ttf') format('truetype')
  font-weight 300
  font-style normal
@font-face
  font-family 'Open Sans'
  src local('Open Sans Light Italic'),
    local('OpenSansLight-Italic'),
    url('../../main.blocks/frontend/fonts/open-sans/opensanslightitalic.woff2') format('woff2'),
    url('../../main.blocks/frontend/fonts/open-sans/opensanslightitalic.woff') format('woff'),
    url('../../main.blocks/frontend/fonts/open-sans/opensanslightitalic.ttf') format('truetype')
  font-weight 300
  font-style italic
@font-face
  font-family 'Open Sans'
  src local('Open Sans'),
    local('OpenSans'),
    url('../../main.blocks/frontend/fonts/open-sans/opensans.woff2') format('woff2'),
    url('../../main.blocks/frontend/fonts/open-sans/opensans.woff') format('woff'),
    url('../../main.blocks/frontend/fonts/open-sans/opensans.ttf') format('truetype')
  font-weight 400
  font-style normal
@font-face
  font-family 'Open Sans'
  src local('Open Sans Italic'),
    local('OpenSans-Italic'),
    url('../../main.blocks/frontend/fonts/open-sans/opensansitalic.woff2') format('woff2'),
    url('../../main.blocks/frontend/fonts/open-sans/opensansitalic.woff') format('woff'),
    url('../../main.blocks/frontend/fonts/open-sans/opensansitalic.ttf') format('truetype')
  font-weight 400
  font-style italic
@font-face
  font-family 'Open Sans'
  src local('Open Sans Semibold'),
    local('OpenSans-Semibold'),
    url('../../main.blocks/frontend/fonts/open-sans/opensanssemibold.woff2') format('woff2'),
    url('../../main.blocks/frontend/fonts/open-sans/opensanssemibold.woff') format('woff'),
    url('../../main.blocks/frontend/fonts/open-sans/opensanssemibold.ttf') format('truetype')
  font-weight 600
  font-style normal
@font-face
  font-family 'Open Sans'
  src local('Open Sans Semibold Italic'),
    local('OpenSans-SemiboldItalic'),
    url('../../main.blocks/frontend/fonts/open-sans/opensanssemibolditalic.woff2') format('woff2'),
    url('../../main.blocks/frontend/fonts/open-sans/opensanssemibolditalic.woff') format('woff'),
    url('../../main.blocks/frontend/fonts/open-sans/opensanssemibolditalic.ttf') format('truetype')
  font-weight 600
  font-style italic
@font-face
  font-family 'Open Sans'
  src local('Open Sans Bold'),
    local('OpenSans-Bold'),
    url('../../main.blocks/frontend/fonts/open-sans/opensansbold.woff2') format('woff2'),
    url('../../main.blocks/frontend/fonts/open-sans/opensansbold.woff') format('woff'),
    url('../../main.blocks/frontend/fonts/open-sans/opensansbold.ttf') format('truetype')
  font-weight 700
  font-style normal
@font-face
  font-family 'Open Sans'
  src local('Open Sans Bold Italic'),
    local('OpenSans-BoldItalic'),
    url('../../main.blocks/frontend/fonts/open-sans/opensansbolditalic.woff2') format('woff2'),
    url('../../main.blocks/frontend/fonts/open-sans/opensansbolditalic.woff') format('woff'),
    url('../../main.blocks/frontend/fonts/open-sans/opensansbolditalic.ttf') format('truetype')
  font-weight 700
  font-style italic
@font-face
  font-family 'Open Sans'
  src local('Open Sans Extrabold'),
    local('OpenSans-Extrabold'),
    url('../../main.blocks/frontend/fonts/open-sans/opensansextrabold.woff2') format('woff2'),
    url('../../main.blocks/frontend/fonts/open-sans/opensansextrabold.woff') format('woff'),
    url('../../main.blocks/frontend/fonts/open-sans/opensansextrabold.ttf') format('truetype')
  font-weight 800
  font-style normal
@font-face
  font-family 'Open Sans'
  src local('Open Sans Extrabold Italic'),
    local('OpenSans-ExtraboldItalic'),
    url('../../main.blocks/frontend/fonts/open-sans/opensansextrabolditalic.woff2') format('woff2'),
    url('../../main.blocks/frontend/fonts/open-sans/opensansextrabolditalic.woff') format('woff'),
    url('../../main.blocks/frontend/fonts/open-sans/opensansextrabolditalic.ttf') format('truetype')
  font-weight 800
  font-style italic



/**fonts
==============*/
/*base fonts*/
base-font = normal unquote("10px/1") "Clear Sans","Open Sans",helvetica,sans-serif
def-font-base = normal unquote("14px/1") "Clear Sans","Open Sans",helvetica,sans-serif
def-font-bold = bold unquote("14px/1") "Clear Sans","Open Sans",helvetica,sans-serif
def-font-light = normal unquote("14px/1") "Clear Sans Light","Open Sans",helvetica,sans-serif
b-nav-font-sm = normal unquote("1.61rem/1") "Clear Sans","Open Sans",helvetica,sans-serif
b-nav-font-sm-light = normal unquote("1.61rem/1") "Clear Sans Light","Open Sans",helvetica,sans-serif
b-nav-font-base = normal unquote("2.36rem/1") "Clear Sans","Open Sans", helvetica,sans-serif
b-nav-font-base = normal unquote("2.36rem/1") "Clear Sans","Open Sans", helvetica,sans-serif
b-nav-font-bold = bold unquote("2.36rem/1") "Clear Sans","Open Sans", helvetica,sans-serif
b-nav-font-light = 300 unquote("2rem/1") "Clear Sans","Open Sans", helvetica,sans-serif

/*slider fonts*/

b-slider-raleway-base = normal unquote("1.5rem/1") Raleway,helvetica,sans-serif
b-slider-raleway-thin = normal unquote("1.5rem/1") "Raleway Thin",helvetica,sans-serif
b-slider-raleway-medium = normal unquote("1.5rem/1") "Raleway Medium",helvetica,sans-serif
b-slider-raleway-light = normal unquote("1.5rem/1") "Raleway Light",helvetica,sans-serif
b-slider-raleway-extralight = normal unquote("1.5rem/1") "Raleway ExtraLight",helvetica,sans-serif
b-slider-raleway-bold = normal unquote("1.5rem/1") "Raleway Bold",helvetica,sans-serif
b-slide-font-base = normal unquote("1.5rem/1") "Open Sans Light",helvetica,sans-serif

/*b-adv-block fonts*/

b-adv-open-sans-base = normal unquote("1.5rem/1") "Open Sans",helvetica,sans-serif
b-adv-open-sans-thin = normal unquote("1.5rem/1") "Open Sans Thin",helvetica,sans-serif
b-adv-open-sans-medium = normal unquote("1.5rem/1") "Open Sans"-Medium,helvetica,sans-serif
b-adv-open-sans-italic = normal unquote("1.5rem/1") "Open Sans Italic",helvetica,sans-serif
b-adv-open-sans-light = normal unquote("1.5rem/1") "Open Sans Light",helvetica,sans-serif
b-adv-open-sans-light-italic = normal unquote("1.5rem/1") "Open Sans Light Italic",helvetica,sans-serif
b-adv-open-sans-semibold = normal unquote("1.5rem/1") "Open Sans Semibold",helvetica,sans-serif
b-adv-open-sans-semibold-italic = normal unquote("1.5rem/1") "Open Sans Semibold Italic",helvetica,sans-serif
b-adv-open-sans-bold = normal unquote("1.5rem/1") "Open Sans Bold",helvetica,sans-serif
b-adv-open-sans-bold-italic = normal unquote("1.5rem/1") "Open Sans Bold Italic",helvetica,sans-serif
b-adv-open-sans-extrabold = normal unquote("1.5rem/1") "Open Sans Extrabold",helvetica,sans-serif
b-adv-open-sans-extrabold-italic = normal unquote("1.5rem/1") "Open Sans Extrabold Italic",helvetica,sans-serif
b-adv-font-base = normal unquote("1.5rem/1") "Open Sans",helvetica,sans-serif

/* b-promo-fonts */
b-promo-open-sans-base = b-adv-open-sans-base
b-promo-open-sans-thin = b-adv-open-sans-thin
b-promo-open-sans-medium = b-adv-open-sans-medium
b-promo-open-sans-italic = b-adv-open-sans-italic
b-promo-open-sans-light = b-adv-open-sans-light
b-promo-open-sans-light-italic = b-adv-open-sans-light-italic
b-promo-open-sans-semibold = b-adv-open-sans-semibold
b-promo-open-sans-semibold-italic = b-adv-open-sans-semibold-italic
b-promo-open-sans-bold = b-adv-open-sans-bold
b-promo-open-sans-bold-italic = b-adv-open-sans-bold-italic
b-promo-open-sans-extrabold = b-adv-open-sans-extrabold
b-promo-open-sans-extrabold-italic = b-adv-open-sans-extrabold-italic
b-promo-font-base = b-adv-font-base

/* colors */
custom-orange-base ?=           #e76a3a
custom-orange-darker ?=         darken(custom-orange-base, 23.6%)
custom-orange-dark ?=           darken(custom-orange-base, 16.1%)
custom-orange ?=                #ec8660
custom-orange-light ?=          lighten(custom-orange-base, 16.1%)
custom-orange-lighter ?=        lighten(custom-orange, 50%)

custom-white-base ?=            #fff

custom-base ?=           #22201e
custom-dark ?=           lighten(custom-base, 16.1%)
custom-darker ?=         lighten(custom-base, 23.6%)
custom ?=                #444444
custom-light ?=          lighten(custom-base, 16.1%)
custom-lighter ?=        lighten(custom-base, 23.6%)
b-copyrights-color ?=    #bababa
b-promo-gallery-color ?=    #424242

html,
a,
body
  color custom-base
  font base-font
*,
:after,
:before
  box-sizing: border-box