.b-page
  position absolute
  opacity .3
  transform-origin 50% 0
  transform scale(.8)
  min-height 100%
  width 100%
  margin 0
  color custom-base
  &.b-page_js_inited
    transition all .3s ease-in-out
    transform inherit
    opacity 1
  &.b-page_fixed_top
    @media screen
      +mediamin(xxs)
        padding-top 5rem
      +mediamin(sm)
        padding-top 10rem