elemname = '.b-promo-gallery__items'
{elemname}
  display flex
  flex-flow row wrap
  justify-content center
  @media screen
    +mediamin(lg)
      max-width 160rem
    +mediamax(lg)
      justify-content space-around