.b-slider__i-controls-group
  @media screen
    width 100%
    display flex
    position absolute
    top 0
    left 0
    height 100%
    justify-content space-between

    +mediamax(xs)
      display none
