.b-logo__i_img
  height 100%
  width auto
  transition all .3s ease
  @media screen
    +mediamax(xs)
      display none
    +mediamax(sm)
      min-width 5rem
    +mediamin(sm)
      height auto
    