.b-main-panel
  width 100%
  // margin-top 13.5rem
  display flex
  flex-direction column
  justify-content center
  overflow hidden
  @media screen
    +mediamin(md)
      flex-direction row
    // +mediamin(sm)
    //   +mediamax(xlg)
    //     margin-top 10rem
        
    +mediamin(lg)
      align-self center
