.b-icon_clock
  background-position -7.2rem 0
  @media screen
    +mediamin(xxs)
      background-position -7.2rem 0
    // +mediamin(xs)
    //   background-position -9.2rem 0
    +mediamin(md)
      background-position -11.2rem 0
