.b-submenu__item
  
  width 100%
  padding 1.5rem 0 0 2rem
  background custom-white-base
  text-decoration none
  white-space normal
  &:hover
    // background transparentify(custom-orange-base, 0.8)
    color custom-base
    cursor pointer
    // background custom-orange-lighter
    // text-decoration underline
  @media screen
    transition all.3s ease
    +mediamax(xs)
      padding 1.5rem 0 1.5rem 3rem
      // border .5rem solid transparent
      // border-width 0 0 0 .5rem
      &:hover
        padding 1.5rem 0 1.5rem 3.5rem
        // border-color custom-white-base
        background custom-orange-lighter
    +mediamin(xs)
      width auto
      padding 1.5rem
      // background transparentify(custom-orange-base, 0.8)
      background custom-white-base
      &:hover
        background custom-orange-lighter