elemname = '.b-promo-gallery__desc-group'
{elemname}
  color custom-white-base
  position relative
  display block
  bottom 0
  width auto
  height 5.3rem
  background custom-orange
  transition: all .3s ease
  display flex
  flex-direction row
  padding 0
  align-items center
  justify-content space-between
