.popup_theme_islands
{
    display: none;
    visibility: hidden;

    margin: -9999px 0 0 -9999px;

    animation-duration: 0.1s;
    animation-timing-function: ease-out;

    background: #fff;
    // box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
                // 0 10px 20px -5px rgba(0, 0, 0, 0.4);
    border: none;
    width: 100%;
    color: #ec8660;
    max-width: 44rem;
    height: 15rem;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    
    animation-fill-mode: forwards;

    &.popup_js_inited
    {
      display: flex;
      box-shadow: 0rem 0rem .2rem .1rem rgba(68,68,68,.1);
      justify-content: center;
      align-items: center;
      font: b-nav-font-light;
    }

    &.popup_visible
    {
        visibility: visible;

        margin: 0;
    }

    // Divided into two parts for better optimization
    for rule in ((bottom (left center right)) (top (left center right)) (right (top center bottom)) (left (top center bottom))) {
        for secondary in rule[1] {
            &.popup_direction_{rule[0]}-{secondary} {
                animation-name: popup_theme_islands_ + rule[0];
            }
        }
        for secondary in rule[1] {
            &.popup_direction_{rule[0]}-{secondary}.popup_visible {
                animation-name: popup_theme_islands_ + rule[0] + _visible;
            }
        }
    }
}

for rule in ((bottom Y 10) (top Y -10) (right X 10) (left X -10)) {
    @keyframes popup_theme_islands_{rule[0]}
    {
        0%
        {
            visibility: visible;

            margin: 0;

            transform: translate + rule[1] + '(0)';

            opacity: 1;
        }

        99%
        {
            margin: 0;

            transform: translate + rule[1] + unquote('(' + rule[2] + 'px)');
        }

        100%
        {
            visibility: hidden;

            margin: -9999px 0 0 -9999px;

            opacity: 0;
        }
    }

    @keyframes popup_theme_islands_{rule[0]}_visible {
        0%
        {
            opacity: 0;

            transform: translate + rule[1] + unquote('(' + rule[2] + 'px)');
        }

        100%
        {
            opacity: 1;

            transform: translate + rule[1] + '(0)';
        }
    }
}
