modname = '.b-nav__i-group_right'

{modname}
  order 3
  @media screen
    +mediamin(xxs)
      +mediamax(xs)
        order 3
        width calc(50% - 2.5rem)
    +mediamax(xxs)
      width 50%
    +mediamin(xs)
      +mediamax(sm)
        order 3
        width auto
    +mediamin(sm)
      height 100%
    

