.b-menu__item
  border .3rem solid transparent
  border-width 0 0 .3rem 0
  padding 0
  width 100%
  white-space nowrap
  transition all .3s ease
  &:hover,
  &.active
    background custom-orange-light
  @media screen
    +mediamax(sm)
      &:hover,
      &.active
        background custom-orange-lighter
        border-color transparent
        
    +mediamin(sm)
      font-size 1.8rem
      text-align center
      position relative
      &:hover
        background custom-white-base
        border-color custom-orange-light
        transition all .3s ease
