.b-submenu__content_status_open
  position relative
  color custom-white-base
  height auto
  width 100%
  transition all .2s ease

  @media screen
    +mediamax(xs)
      // background transparentify(custom-orange-base, 0.5)
      background custom-white-base
    +mediamin(xxs)
      +mediamax(xs)
        box-shadow none
    +mediamin(xs)
      +mediamax(sm)
        position absolute
        left (100% + .1rem)
        top 0
        box-shadow 0rem .1rem .2rem .1rem rgba(68,68,68,.1)
    +mediamin(sm)
      position absolute
      text-align left
      box-shadow .1rem .1rem .2rem .1rem rgba(68,68,68,.1)
      width auto
      top 100%
      left 0
      padding 0
      // background transparentify(custom-orange-base, 0.8)
      background custom-white-base
