.b-cta-form__input-group_left
  @media screen
    +mediamax(xxs)
      width 100%
      height 100%

    +mediamin(xs)
      flex-direction column
      width 100%

      justify-content space-between