.b-contacts
  display flex
  flex-flow row wrap
  margin 0 0 1rem 0
  @media screen
    +mediamax(xs)
      flex-flow column wrap
      padding 0 0 0 2rem
      width 100%
      align-items flex-start
      justify-content space-between
      
      & .icon > svg
        height 2.4rem
        width 3rem
    +mediamax(xxs)
      padding 0
