.b-soc-icons__icon
  width auto
  position relative
  flex-basis 30%
  display flex
  &:after
    // background url(../../frontend/img/footer-icons.svg)
    content ''
    background-size 20rem 2rem
    width 2rem
    height @width
    position absolute
    top 0
    left calc(50% - 1rem)
  svg
    width 2rem
    height @width