elemname = '.b-slide__i-img-thumb_visible_xs'
{elemname}
  @media screen
    opacity 1
    transition all .2s ease
    +mediamin(xs)
      height 0
      width 0
      padding 0
      transition all .1s ease