.b-nav__i-group_center
  order 2
  height 100%
  @media screen
    +mediamax(xs)
      order 1
      width 5rem
    +mediamin(xs)
      +mediamax(sm)
        width 5rem
        order 1
        flex-grow 1
    +mediamin(sm)
      flex-grow 1
      align-content stretch