.b-footer__inner
  width 100%
  max-width 170.5rem
  padding 5rem 1.5rem 0
  align-items flex-start
  height 100%
  font-size 1.4rem
  display flex
  flex-flow row wrap
  @media screen
    +mediamax(xs)
      padding 1rem 0