.b-adv__caption
  font b-adv-open-sans-bold
  font-weight bold
  font-size 3.4rem
  text-align center
  padding 2rem 0
  margin 0 0 5rem
  @media screen
    +mediamax(sm)
      margin 0 0 0 1rem
      padding 0 0 2rem