.b-cta-form_horiz
  @media screen
    width 100%
    margin 0 auto
    display flex
    flex-direction column
    max-width 170.5rem
    box-sizing border-box
    background custom-white-base
    box-shadow none
    transition all .2s ease-in
    .b-cta-form__input-group
      display flex
      flex-direction row
      +mediamax(lg)
        flex-direction column
        align-items center
    .b-cta-form__input-group_left
      justify-content center
    .b-cta-form__input_text
      margin 0 1rem
      max-width 45rem
      font-weight bold
      +mediamax(lg)
        margin 1rem 0

    .b-cta-form__button
      font-weight bold
      +mediamax(xs)
        font-weight normal
        .button__text
          white-space: normal;
          line-height: 3rem;
      +mediamin(xs)
        +mediamax(lg)
          max-width 45rem
      &:last-child
        border-radius 0
    +mediamin(xs)
      padding 3rem