.b-soc-icons
  background custom-white-base
  width 100%
  padding 0
  margin 1rem auto
  display flex
  flex-flow row wrap
  justify-content center
  @media screen
    +mediamax(xs)
      min-width 20rem