.b-footer__i_phone
  position relative
  padding 0rem 1rem 0 0
  font-size 1.4rem
  text-decoration none
  display inline-block
  @media screen
    &:hover
      text-decoration underline
    & .icon
      margin 0 1rem 0 0
      +mediamax(xxs)
        font-size: 1.3rem;
        margin 0
      
    +mediamax(xs)
      margin 0 0 1rem
    // +mediamax(xxs)