modname = '.b-nav__i-group_left'

{modname}
  order 1
  @media screen
    +mediamin(xxs)
      +mediamax(xs)
        order 2
        width calc(50% - 2.5rem)
    +mediamax(xxs)
      order 2
      width calc(50% - 5rem)
    +mediamin(xs)
      +mediamax(sm)
        order 2
        width auto
    +mediamin(sm)
      height 100%