.b-product__price-value_type_old
  @media screen
    font b-nav-font-sm
    line-height 2rem
    text-decoration line-through
    padding 0 .1rem 0 0
    width auto
    +mediamin(xs)
      padding 0
      text-align right
