.b-product__price-value_type_new
  font b-nav-font-sm
  @media screen
    color custom-orange
    font-size 2rem
    line-height 2rem
    width auto
    +mediamax(xs)
      font-size 1.61rem
      font-weight bold
      line-height 2rem
