.b-menu__content_status_closed
  visibility hidden
  display flex
  list-style none
  flex-direction row
  justify-content space-around
  padding 0
  align-self center
  transition all .3s ease
  width auto
  @media screen
    +mediamax(sm)
      color custom-white-base
      // background transparentify(custom-orange-base, 0.8)
      background custom-white-base
      height 28rem
      width calc(100% + 1.8rem)
      position absolute
      top 100%
      left 0
      margin 0
      box-shadow .1rem .1rem .1rem .1rem rgba(68,68,68,.1)

      +mediamax(sm)
        width 100%
        max-width 30rem
        height 0
        overflow hidden
        flex-direction column
        box-shadow none
