.b-menu__content_status_open

  display flex
  list-style none
  flex-direction row
  justify-content space-around
  padding 0
  align-self center
  transition all .3s ease
  width auto
  outline none
  z-index 100
  @media screen
    +mediamax(sm)
      color custom-white-base
      background custom-white-base
      height 28rem
      width calc(100% + 1.8rem)
      position absolute
      top 100%
      left 0
      margin 0
      padding 1.5rem 0
      flex-direction column
      justify-content space-between
      box-shadow .1rem .1rem .1rem .1rem rgba(68,68,68,.1)

    +mediamin(xs)
      +mediamax(sm)
        width 100%
        max-width 25rem
        height auto
        flex-direction column
        box-shadow .1rem .1rem .1rem .1rem rgba(68,68,68,.1)
    +mediamin(sm)
      +mediamax(md)
        width 100%
    