mediamax(breakpoint,u = px)
  if typeof(breakpoint) == 'string'
    @media ({breakpoint})
      {block}
   else
    res = u == px ? (unit(breakpoint,u) - 1) : unit(breakpoint,u) - .01
    @media (max-width: res)
      {block}
mediamin(breakpoint,u = px)
  if typeof(breakpoint) == 'string'
    @media ({breakpoint})
      {block}
  else
    res = unit(breakpoint,u)
    @media (min-width: res)
      {block}

xxs = 480
xs = 600
sm = 840
md = 960
lg = 1280
xlg = 1440
xxlg = 1600