.b-icon_brush
  @media screen
    background-position -10.8rem 0
    +mediamin(xxs)
      background-position -10.8rem 0
    // +mediamin(xs)
    //   background-position -13.8rem 0
    +mediamin(md)
      background-position -16.8rem 0
