.b-adv__i-group_left
  width auto
  flex-shrink 0
  order 2
  @media screen
    +mediamax(xxs)
      width 100%
      margin 0 auto
    +mediamin(xxs)
      display flex
      align-self center
      justify-content center
    +mediamin(sm)
      order 1