.b-layout__content
  color custom-base
  font b-nav-font-sm
  font-weight 300
  font-size 1.7rem
  max-width 120rem
  width 100%
  align-self center
  padding 3rem
  @media screen
    +mediamax(sm)
      padding 1rem
    +mediamax(xxs)
      padding 1rem 0
      font-size 1.4rem
      
  p
    font b-nav-font-sm
    font-weight 300
    font-size 1.7rem
    padding 0
    text-indent 3rem
    @media screen
      +mediamax(sm)
        text-indent 1.5rem
      +mediamax(xxs)
        font-size 1.4rem

    .image,
    img
      max-width 100%
      display flex
      align-items flex-start
      @media screen
        +mediamin(sm)
          justify-content center
  ul
    list-style none
    li,
    li a
      font b-nav-font-sm
      font-size 1.7rem
      color custom-orange
      @media screen
        +mediamax(xxs)
          font-size 1.4rem