.b-product
  @media screen
    display flex
    justify-content space-between
    font b-nav-font-sm
    +mediamax(lg)
      flex-wrap wrap
      padding 0
    +mediamax(md)
      flex-direction column
    +mediamax(sm)
      padding 0 7rem
    +mediamax(xs)
      padding 0 1rem
    +mediamin(xlg)
      padding 0 7rem
    