.b-slide
  @media screen
    overflow hidden
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    opacity 0
    animation none
    // animation slideOrig 1.618s ease-in-out forwards
    &.b-slide__i-img-thumb_slide-switcher
    &.b-slide__i-img-thumb_slide-switcher_active
      animation none
  @keyframes slideOrig
    0%
      transform translateX(0)
      opacity 1
    100%
      transform translateX(-100%)
      opacity 1
    +mediamax(xs)
      position relative
      height 0