.b-content
  box-sizing border-box
  max-width 170.5rem
  margin 5rem auto 0
  padding 0 1.5rem
  padding-bottom 27rem
  position relative
  // @media screen
  //   +mediamin(sm)
  //     margin-top 10rem
  //   +mediamin(lg)
  //     margin-top 13.5rem
