.b-logo__img_responsive
  height 100%
  width auto
  transition all .3s ease
  @media screen
    +mediamax(xs)
      height 5rem
      width 5rem
      display inline-block
      background #ec8660
      transition all .3s ease