.b-sidebar__content
  p
    font b-nav-font-sm
    font-size 1.7rem
    margin 1rem 0
    padding .5rem 0 0 2rem
    
  ul
    list-style none
    li,
    li a
      font-size 1.7rem
      color custom-orange
