.input_theme_islands
  &.input_size_l.input_has-clear
    .input__box
      padding-right .5rem
  & .input__box
    display flex
    justify-content space-between
    align-items center
  &.input__control
    width 100%

  &.input_focused
    box-shadow 0 0 0.4rem 0.1rem #ec8660