.b-adv__caption_bottom-line
  position relative
  &:after
    content ' '
    display block
    position absolute
    height .3rem
    width 5rem
    top 100%
    left calc(50% - 2.5rem)
    background custom-base


