modname = '.b-phone__img_responsive'

{modname}
  height 5rem
  width 5rem
  transition all .3s ease
  @media screen
    +mediamax(xs)
      display inline-block
      // background #ec8660
    +mediamin(md)
      height 6rem
      width @height