.b-slide_prev_left
  @media screen
    opacity 1
    animation prevLeft .618s ease-in-out forwards
    &.b-slide__i-img-thumb_slide-switcher
    &.b-slide__i-img-thumb_slide-switcher_active
      animation none

  @keyframes prevLeft
    0%
      transform translateX(0)
      opacity 1
    100%
      transform translateX(-100%)
      opacity 1
    +mediamax(xs)
      position relative
      height 0