.b-cl-line__items
  padding 0
  margin 0
  list-style none
  display flex
  flex-flow row wrap
  justify-content center
  align-items center
  width 100%
  @media screen
    +mediamax(xxs)
      flex-flow column wrap
    +mediamin(md)
      justify-content space-around