.b-menu__link
  color custom-base
  text-decoration none
  position relative
  display inline-block
  @media screen
    font b-nav-font-light
    +mediamax(xs)
      // color custom-white-base
      text-decoration none
      padding 1.5rem
    +mediamax(sm)
      padding 1.5rem
    +mediamin(sm)
      font-size 1.6rem
      padding 1rem 0.5rem
    +mediamin(md)
      font-size 1.8rem
    +mediamin(lg)
      font-size 2rem
      padding 1rem 1.5rem
    +mediamin(xlg)
      padding 1rem 2.36rem
