.b-sidebar_l-head
  position absolute
  margin 14.3rem 0 0 0
  width 100%
  max-width 35rem
  p
    font b-nav-font-sm
    font-size 1.7rem
    margin 1rem 0
    padding .5rem 0 0 2rem
  @media screen
    +mediamax(lg)
      position relative
      margin 2rem 0 0 0