.b-slide__footer_button
  background transparent
  position absolute
  bottom 5.5rem
  left 7rem
  color custom-white-base
  width 18.5rem
  height 5rem
  font b-nav-font-sm
  padding 0
  cursor pointer
  float right
  display block
  z-index 500
  transition all .3s ease-in-out
  @media screen
    +mediamax(md)
      bottom 2rem
      left 2rem
      
  &.button_theme_islands.button_size_xl
    border solid .2rem custom-white-base
    font-size 2rem
    font-weight 400
    
  &.button_theme_islands:before
    background transparent
  &.button_theme_islands .button__text
    width 100%
    height 100%
    margin 0 auto
    line-height 4rem
  &.button_theme_islands:hover:before
    background custom-orange